@import url('https://fonts.googleapis.com/css2?family=Segoe+UI&display=swap');

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 14px; 
    overflow-x:hidden;
}

.container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

    .form-group label {
        font-weight: bold;
    }

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

    .btn-danger:hover {
        background-color: #c82333;
    }

.btn-warning {
    background-color: #ffc107;
    color: #212529;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

    .btn-warning:hover {
        background-color: #e0a800;
    }
